{% load static %}

<footer style="background-color:  #7d884ae7;">
    <div class="container py-5">
      <div class="row py-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="{% static 'img/logo-grande.png'%}"" alt="" width="180" class="mb-3" style="filter: invert();">
          <p class="font-italic text-muted"> Empresa dedicada a la gestión hotelera y de restaurantes con más de 20 años en la industria. Le ofrecemos 
            a nuestros clientes una atención de primer nivel para que vivan momentos inolvidables junto a familiares o amigos. </p>
          <ul class="list-inline mt-4">
            <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fa fa-vimeo"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0" style="filter: invert();">
          <h6 class="text-uppercase font-weight-bold mb-4">Actividades</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-muted">Billar</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Cine</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Tenis de Mesa</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Bowling</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0" style="filter: invert();">
          <h6 class="text-uppercase font-weight-bold mb-4">Habitaciones</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-muted">Matrimoniales</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Individuales</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Familares</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Premium</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4" style="filter: invert();">Encuéntranos en: </h6>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13318.502129364291!2d-70.6149044!3d-33.4330059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf7b8af466fd%3A0xc8fd2d768e783103!2sDuoc%20UC%3A%20Antonio%20Varas!5e0!3m2!1ses-419!2scl!4v1718124417897!5m2!1ses-419!2scl" width="350" height="265" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
           
          </div>
        </div>
      </div>
    </div>

    <!-- Copyrights -->
    <div class="bg-light py-4">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">© Veranum. Todos los derechos reservados. </p>
        <a class="nav-link active" aria-current="page" href="{% url 'crud' %}">Acceso Staff</a>

      </div>
    </div>
  </footer>